<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Procesamiento-de-Datos-con-Python/7_Transformacion_filtracion_y_ordenamiento_de_datos/s7_r4_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 4: Apply

### 1. Objetivos:
    - Practicar el uso del método `apply` para obtener columnas nuevas a partir de columnas existentes
    
---
    
### 2. Desarrollo:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### a) Obteniendo columnas nuevas a partir de existentes

Vamos a trabajar con el dataset que guardaste de tu Reto anterior. Esta vez tu Reto es el siguiente:

1. Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y regrese la proporción de ese valor en comparación con el diámetro de la Tierra. El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.
2. Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando `apply` y crea una nueva columna llamada `proportion_of_max_diameter_to_earth`.
3. Asigna el resultado a la variable `df_reto_4`.
4. Guarda tu conjunto de datos en un archivo .csv.

In [16]:
import pandas as pd

df_reto_4 = pd.read_csv('drive/MyDrive/df_reto_7_3.csv', index_col=0)

#Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y 
#regrese la proporción de ese valor en comparación con el diámetro de la Tierra. 
#El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros 
#corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.
def proporcion_diam_Tierra(valor):
  return valor/12742000

#Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando apply 
#y crea una nueva columna llamada proportion_of_max_diameter_to_earth.
df_reto_4["proportion_of_max_diameter_to_earth"] = df_reto_4['estimated_diameter.meters.estimated_diameter_max'].apply(proporcion_diam_Tierra)

#Guarda tu resultado en un archivo .csv.
df_reto_4.to_csv(r'drive/MyDrive/df_reto_7_4.csv')

df_reto_4

                         id_name  ...  proportion_of_max_diameter_to_earth
0     2154652-154652 (2004 EP20)  ...                             0.000085
1              3153509-(2003 HM)  ...                             0.000017
2              3516633-(2010 HA)  ...                             0.000008
3             3837644-(2019 AY3)  ...                             0.000008
4              3843493-(2019 PY)  ...                             0.000004
..                           ...  ...                                  ...
328  2267136-267136 (2000 EF104)  ...                             0.000077
329           3360486-(2006 WE4)  ...                             0.000077
330           3656919-(2014 BG3)  ...                             0.000028
331           3803762-(2018 GY4)  ...                             0.000074
332           3989652-(2020 CH1)  ...                             0.000004

[333 rows x 14 columns]

Pídele a tu experta la función de verificación `revisar_aplicacion` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [17]:
# Pega aquí la función de verificación

def revisar_aplicacion(df_reto_4):
    
    assert 'proportion_of_max_diameter_to_earth' in df_reto_4, 'No existe una columna llamada "proportion_of_max_diameter_to_earth" en el DataFrame'
    assert df_reto_4['proportion_of_max_diameter_to_earth'].equals(df_reto_4['estimated_diameter.meters.estimated_diameter_max'] / 12742000), 'La transformacion no fue realizada adecuadamente'
    
    print(f'La transformación y creación de una nueva columna fue realizada exitosamente!')

revisar_aplicacion(df_reto_4)

La transformación y creación de una nueva columna fue realizada exitosamente!