<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Analisis-de-Datos-con-Python/5_Distribuciones_muestrales_y_tecnicas_de_evaluacion_de_modelos/s5_r4_validacion_cruzada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 4: Validación Cruzada

### 1. Objetivos:
    - Aplicar la técnica de validación cruzada para evaluar un modelo de Regresión Lineal Múltiple
 
---
    
### 2. Desarrollo:

Para este Reto vamos a utilizar el mismo dataset que en el Reto anterior. Elige las variables con las que obtuviste un mejor resultado. Utilizando esas variables realiza los siguientes procesos:

1. Entrena un modelo de Regresión Lineal Múltiple utilizando validación cruzada de K-iteraciones.
2. Obtén el promedio de tus scores y el nivel de incertidumbre.
3. Compara tu resultado con el resultado obtenido en el Reto anterior.
4. Comparte tus hallazgos con tus compañeros.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/wine_quality_red-clean.csv', index_col=0)

df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [4]:
df = df.drop(columns=['quality'])

In [5]:
X = df[['citric_acid', 'residual_sugar']]
y = df['pH']

In [6]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [7]:
from sklearn.model_selection import train_test_split
X_training, X_test, y_training, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)
lr.fit(X_training, y_training)
lr.score(X_test, y_test)

0.27613136601174704

In [16]:
scores = cross_validate(lr, X, y, scoring='r2')
print(f'Score del modelo: {scores["test_score"].mean():.3f} +/- {scores["test_score"].std():.3f}')

Score del modelo: 0.232 +/- 0.050