<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Procesamiento-de-Datos-con-Python/8_Bases_de_datos_merge_y_agrupaciones/s8_r3_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 3: `merge` para completar información faltante

### 1. Objetivos:
    - Completar la tabla `users` usando la información contenida en las tablas `occupations` y `age_ranges`.
    
---
    
### 2. Desarrollo:

#### a) Complementado información usando el método `merge`

No es muy práctico tener las tablas `occupations` y `age_range` por sí solas, ya que la información que contienen está íntimamente relacionada con al información de la tabla `users`. Vamos entonces a unir las tres tablas en una sola tabla para tener esa información mucho más accesible. Tu Reto consiste en los siguientes pasos:

1. Lee tus archivos `users`, `occupations` y `age_range` (o como sea que les quisiste llamar) y conviértelos en `DataFrames`.
2. Utiliza el método `merge` para agregar la información contenida en la tabla `occupations` a la tabla `users`.
3. Utiliza el método `merge` para agregar la información contenida en la tabla `age_ranges` a la tabla `users`.
4. Si lo consideras necesario, renombra y reordena las columnas para que la información sea clara.
5. Guarda tu nuevo conjunto de datos en un nuevo archivo .csv.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

users = pd.read_csv(r'drive/MyDrive/users.csv', index_col=0, names=['gender', 'age', 'occupation', 'cp'])
occupations = pd.read_csv(r'drive/MyDrive/occupation.csv', index_col=0, names=['description'])
age_ranges  = pd.read_csv(r'drive/MyDrive/age_ranges.csv', index_col=0, names=['age_id', 'range'])    
 
users_full = pd.merge(users, occupations, left_on='occupation', right_index=True).sort_index()
users_full = users_full.rename(columns={'description': 'occupation', 'occupation': 'occupation_id'})

users_full = pd.merge(users_full, age_ranges, left_on='age', right_index=True).sort_index()
users_full = users_full.rename(columns={'age': 'age_id', 'range': 'age_range'})

users_full = users_full[['gender', 'age_id', 'age_range', 'occupation_id', 'occupation', 'cp' ]]

users_full.to_csv(r'drive/MyDrive/users_full.csv')
users_full

     gender age_id age_range occupation_id            occupation     cp
1         F      1  Under 18            10          K-12 student  48067
10        F     35     35-44             1     academic/educator  95370
100       M     35     35-44            17   technician/engineer  95401
1000      F     25     25-34             6    doctor/health care  90027
1001      M     25     25-34             4  college/grad student  90210
...     ...    ...       ...           ...                   ...    ...
995       F     18     18-24             4  college/grad student  96803
996       M     25     25-34            17   technician/engineer  98102
997       M      1  Under 18            19            unemployed  15748
998       M     45     45-49            20                writer  10019
999       M     25     25-34            15             scientist  62558

[6040 rows x 6 columns]

Compara tus resultados con tus compañeros y tu experta para asegurarse de que todos tengan un conjunto similar que contenga toda la información requerida.

<details><summary>Solución</summary>

```python
users = pd.read_csv('../../Datasets/MovieLens/users-raw.csv', index_col=0, names=['gender', 'age', 'occupation', 'cp'])
occupations = pd.read_csv('../../Datasets/MovieLens/occupations-raw.csv', index_col=0, names=['description'])
age_ranges  = pd.read_csv('../../Datasets/MovieLens/age_ranges-raw.csv', index_col=0, names=['age_id', 'range'])    
    
users_full = pd.merge(users, occupations, left_on='occupation', right_index=True).sort_index()
users_full = users_full.rename(columns={'description': 'occupation', 'occupation': 'occupation_id'})
users_full = pd.merge(users_full, age_ranges, left_on='age', right_index=True).sort_index()
users_full = users_full.rename(columns={'age': 'age_id', 'range': 'age_range'})
users_full = users_full[['gender', 'age_id', 'age_range', 'occupation_id', 'occupation', 'cp' ]]
users_full.to_csv('ruta')
```
    
</details>