<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Procesamiento-de-Datos-con-Python/5_Funciones_Vectorizadas_y_Limpieza_de_Datos/s5_r5_limpiando_un_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 5: Limpiando un dataset

### 1. Objetivos:
    - Aplicar todo lo que aprendimos el día de hoy a un dataset real
 
---
    
### 2. Desarrollo:

#### a) Limpieza de datos en el mundo real

Hasta ahora hemos estado realizando ejercicios con datasets dummy (falsos). Ahora vamos a aplicar todo lo que hemos aprendido el día de hoy a un dataset real.

El dataset se encuentra en la carpeta [Datasets](../../Datasets/Readme.md) en la raíz del repositorio. El nombre el dataset es 'melbourne_housing-raw.csv'.

Lee el dataset usando pandas y realiza las siguientes tareas:

1. Ve a este [link](https://www.kaggle.com/anthonypino/melbourne-housing-market) para conocer más sobre el dataset y los datos que contiene.
2. Explora tu dataset para entender su estructura
3. Identifica los `NaNs` en el dataset y dónde se encuentran
4. Elimina los `NaNs` de tu dataset
5. Resetea tu índice para que sea compatible con el nuevo dataset
6. Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos
7. Realiza agregaciones (min, man, mean, etc) de las siguientes filas para conocer mejor la distribución de tus datos:
    a) Price
    b) Distance
    c) Landsize
    
Si tienes dudas en algún momento, por favor pídele a la experta que te oriente. Todas las tareas que hay que realizar ya las hemos hecho en otros retos; puedes ir a revisar esos otros ejercicios para recordar.

¡Mucha suerte!

In [33]:
import pandas as pd
import numpy as np

filename = "drive/MyDrive/Colab Notebooks/Datasets/melbourne_housing-raw.csv"
data = pd.read_csv(filename, header=0)

In [34]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [35]:
data.describe

<bound method NDFrame.describe of            Suburb               Address  ...             Regionname Propertycount
0      Abbotsford         68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford          85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford       25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford    18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford          5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                   ...  ...                    ...           ...
19735     Windsor       201/152 Peel St  ...  Southern Metropolitan        4380.0
19736     Wollert       60 Saltlake Bvd  ...  Northern Metropolitan        2940.0
19737  Yarraville           2 Adeney St  ...   Western Metropolitan        6543.0
19738  Yarraville       54 Pentland Pde  ...   Western Metropolitan        6543.0
19739  Yarraville  10/127 Somerville Rd  ...   Western Metropolitan        6543.0

[19740 rows x 21 columns]>

In [36]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [37]:
data.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             4344
Method               0
SellerG              0
Date                 0
Distance             8
Postcode             8
Bedroom2          4413
Bathroom          4413
Car               4413
Landsize          4796
BuildingArea     11123
YearBuilt        10389
CouncilArea       4444
Lattitude         4292
Longtitude        4292
Regionname           8
Propertycount        8
dtype: int64

In [38]:
data_dropped = data.dropna(axis=0, how="any")
data_dropped.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [39]:
data_dropped = data_dropped.reset_index()
data_dropped.describe

<bound method NDFrame.describe of       index        Suburb  ...             Regionname  Propertycount
0         2    Abbotsford  ...  Northern Metropolitan         4019.0
1         4    Abbotsford  ...  Northern Metropolitan         4019.0
2         6    Abbotsford  ...  Northern Metropolitan         4019.0
3        11    Abbotsford  ...  Northern Metropolitan         4019.0
4        14    Abbotsford  ...  Northern Metropolitan         4019.0
...     ...           ...  ...                    ...            ...
6045  19731    Whittlesea  ...      Northern Victoria         2170.0
6046  19734  Williamstown  ...   Western Metropolitan         6380.0
6047  19737    Yarraville  ...   Western Metropolitan         6543.0
6048  19738    Yarraville  ...   Western Metropolitan         6543.0
6049  19739    Yarraville  ...   Western Metropolitan         6543.0

[6050 rows x 22 columns]>

In [40]:
data_dropped.columns
del data_dropped['index']

data_dropped.columns = ['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'Seller_G',
       'Date', 'Distance', 'Post_code', 'Bedroom_2', 'Bathroom', 'Car',
       'Land_size', 'Building_area', 'Year_built', 'Council_area', 'Lattitude',
       'Longtitude', 'Region_name', 'Property_count']

In [41]:
data_dropped

            Suburb               Address  ...            Region_name Property_count
0       Abbotsford       25 Bloomburg St  ...  Northern Metropolitan         4019.0
1       Abbotsford          5 Charles St  ...  Northern Metropolitan         4019.0
2       Abbotsford           55a Park St  ...  Northern Metropolitan         4019.0
3       Abbotsford          124 Yarra St  ...  Northern Metropolitan         4019.0
4       Abbotsford         98 Charles St  ...  Northern Metropolitan         4019.0
...            ...                   ...  ...                    ...            ...
6045    Whittlesea         30 Sherwin St  ...      Northern Victoria         2170.0
6046  Williamstown           87 Pasco St  ...   Western Metropolitan         6380.0
6047    Yarraville           2 Adeney St  ...   Western Metropolitan         6543.0
6048    Yarraville       54 Pentland Pde  ...   Western Metropolitan         6543.0
6049    Yarraville  10/127 Somerville Rd  ...   Western Metropolitan         6543.0

[6050 rows x 21 columns]

In [43]:

subset_data = data_dropped[["Price", "Distance", "Land_size"]]

# El valor mínimo de cada columna
mins = subset_data.min(axis=0)
 
# El valor máximo de cada columna
maxs = subset_data.max(axis=0)
 
# El promedio por columna
means = subset_data.mean(axis=0)

mins.name = 'Min'
maxs.name = 'Max'
means.name = 'Promedio'
resumen = pd.concat([mins, maxs, means], axis=1)
print(resumen)

                Min        Max      Promedio
Price      131000.0  9000000.0  1.071520e+06
Distance        0.0       47.4  9.659719e+00
Land_size       0.0    37000.0  5.561562e+02