<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Procesamiento-de-Datos-con-Python/4_Pandas_y_Analisis_Exploratorio_de_Datos/s4_r5_aed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 5: Análisis Exploratorio de Datos

### 1. Objetivos:
    - Practicar leer archivos JSON usando pandas
    - Practicar hacerse preguntas acerca de los conjuntos de datos que tenemos
 
---
    
### 2. Desarrollo:

Vamos a practicar explorar conjuntos de datos y hacernos preguntas acerca de ellos.

Tenemos un conjunto de datos en formato JSON almacenado en '../../Datasets/new_york_times_bestsellers-clean.json' (en la carpeta /Datasets en el directorio raíz del módulo).

Primero que nada, lee el archivo JSON y crea un `DataFrame` con él:

In [19]:
## Realiza aquí los imports que necesites
import pandas as pd
import json

## Lee aquí tu archivo JSON
f = open("drive/MyDrive/Colab Notebooks/Datasets/new_york_times_bestsellers-clean.json")
json_data = json.load(f)
f.close()

## Crea aquí tu DataFrame
df = pd.DataFrame.from_dict(json_data)

df

                                     amazon_product_url  ... price.numberDouble
0     http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1     http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2     http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3     http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
4     http://www.amazon.com/Sundays-at-Tiffanys-Jame...  ...              24.99
...                                                 ...  ...                ...
3028  http://www.amazon.com/Six-Years-Harlan-Coben/d...  ...              27.95
3029  http://www.amazon.com/The-Interestings-Novel-M...  ...              27.95
3030  http://www.amazon.com/Man-Without-Breath-Berni...  ...              26.95
3031  http://www.amazon.com/The-Storyteller-Jodi-Pic...  ...              28.99
3032  http://www.amazon.com/Z-A-Novel-Zelda-Fitzgera...  ...              25.99

[3033 rows x 12 columns]

Ahora, usando todas las herramientas que hemos aprendido en esta sesión (indexación de filas y columnas, `shape`, `dtypes`, `head`, `tail`, `columns`, `info`, etc) explora tu dataset y debate con el experto y tus compañeros las siguientes preguntas:

1. ¿Qué podemos saber de este dataset con tan sólo leer el nombre del archivo y los nombres de las columnas?
2. ¿Cuál es el tamaño (forma) de nuestro DataFrame? ¿Podríamos considerarlo un dataset grande o pequeño?
3. ¿Crees que los nombres de las columnas son suficientemente descriptivos? ¿Podrían ser más claros o limpios?
4. ¿Qué tipos de datos tenemos?
5. ¿Qué significa el formato en el que tenemos las fechas?
6. ¿Qué tipo de preguntas podríamos responder usando los datos numéricos de este dataset?
7. ¿Qué tipo de preguntas podríamos responder usando los datos no-numéricos?

In [18]:
df.head()
df.shape
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong      int64
published_date.numberLong        int64
rank.numberInt                   int64
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object